*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "serif";
    /* font-family: "Roboto", sans-serif; */
}
.container{
    height:100vh ;
    width: 100%;
    background: #E8E8E8;
    border-radius: 5px;
    padding: 40px;
    display: flex;
    justify-content: center;
    
    
}
nav{
    height:15vh ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    background: #212121;
    border-radius: 5px;
}
.search{
    height: 3rem;
    width: 30rem;
    padding: 8px;
    border-radius: 10px;
    background: #333;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: wheat;
    transition: 500ms;
    
}
.search:hover {
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
      inset -5px -5px 10px #444;
    color: wheat;
    transition: 500ms;
  }
::placeholder {
    color: wheat;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: wheat;
  }

      button {
        margin: 12px;
        height: 50px;
        width: 120px;
        border-radius: 10px;
        background: #333;
        justify-content: center;
        align-items: center;
        box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
          inset -5px -5px 10px #222;
        cursor: pointer;
        border: none;
        font-size: 16px;
        color: wheat;
        transition: 500ms;
      }
      
      button:hover {
        box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
          inset -5px -5px 10px #444;
          color: wheat;
        transition: 500ms;
      }


.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 30rem;
    width: 20rem;
    color:wheat ;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
    transition: 500ms;
    background: #333;
    border-radius: 1rem;
}
.card:hover {
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
    inset -5px -5px 10px #444;
    color: wheat;
  transition: 500ms;
   }    
h3{
    margin: 17px;
    font-size: 2.5rem;
}
p{
    margin: 5px;
    font-size: 1.5rem;
}
h4{
    margin-top: 17px;
    font-size: 2rem;
}
.timedateday{
    display: flex;
    flex-direction: row;
}
img{
 height: 150px;
 width: 150px;
}
@media only screen and (max-width:900px){

  .search{
    height: 3rem;
    width: 10rem;
    padding: 8px;
    border-radius: 10px;
    background: #333;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: wheat;
    transition: 500ms;
    
}
.search:hover {
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
      inset -5px -5px 10px #444;
    color: wheat;
    transition: 500ms;
  }
::placeholder {
    color: wheat;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: wheat;
  }

      button {
        margin: 12px;
        height: 50px;
        width: 80px;
        border-radius: 10px;
        background: #333;
        justify-content: center;
        align-items: center;
        box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
          inset -5px -5px 10px #222;
        cursor: pointer;
        border: none;
        font-size: 16px;
        color: wheat;
        transition: 500ms;
      }
      
      button:hover {
        box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
          inset -5px -5px 10px #444;
          color: wheat;
        transition: 500ms;
      }

}